nav {
  background: #08142f;
  padding: 15px 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-bottom: 1px solid #1d2b4d;
}

a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.active {
  background: #f4a811;
  color: black;
  font-weight: bold;
}

span {
  margin-left: auto;
  background: #13254d;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}