:host {
  display: block;
  background: #061330;
  min-height: 100vh;
  padding: 20px;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(350px, 1fr));

  gap: 20px;
}